<%= stylesheet_link_tag "newitem", "data-turbo-track": "reload" %>

<body>
  <div class="container">
    <h1>Agregar Nuevo Item</h1>

    <%= form_with model: @item, local: true do |form| %>
      <div>
        <%= form.label :nombre %>
        <%= form.text_field :name %>
      </div>
      <div>
        <%= form.label :descripcion %>
        <%= form.text_area :description %>
      </div>
      <div>
        <%= form.label :cantidad %>
        <%= form.number_field :quantity %>
      </div>
      <div>
        <%= form.submit "Guardar Item" %>
      </div>
    <% end %>
  </div>
</body>
